<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e9de83b3-6253-4cad-a1fa-79de0b109a06/resourceGroups/georgiancollege/providers/Microsoft.Web/sites/cdyckcomp200701</ResourceId>
    <ResourceGroup>georgiancollege</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cdyckcomp200701.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cdyckcomp200701.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cdyckcomp200701</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cdyckcomp200701</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=False;User ID=cdyckcomp2007;Password=20Chr!s17;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=False;User ID=cdyckcomp2007;Password=20Chr!s17;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FirstApplication.Models.ApplicationDbContext, FirstApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=False;User ID=cdyckcomp2007;Password=20Chr!s17;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=True;User ID=cdyckcomp2007;Password=20Chr!s17;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comp2007cdyck.database.windows.net,1433;Initial Catalog=cdyckcomp200701;User Id=null@comp2007cdyck.database.windows.net;Password=C@mp2007;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>